{% extends "base.html" %}
{% block title %}Nanyang Polyclinic - Pharmacy{% endblock %}

{% block content %}

<h2 class="test">Pharmacy</h2>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item ID</th>
        <th>Picture</th>
        <th>Name</th>
        <th>Price</th>
        <th>Amount in Stock</th>
        <th>Bio</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for item in items_list %}
      <tr>
        <td>{{ item.get_item_id() }}</td>
        <td><img src="{{ item.get_item_picture() }}" height="100"></td>
        <td>{{ item.get_item_name() }}</td>
        <td>${{ item.get_item_price() }}</td>
        <td>{{ item.get_item_have() }}</td>
        <td>{{ item.get_item_bio() }}</td>
        {% if item.get_item_want() == 0 %}
          <td><a href="/purchaseItem/{{item.get_item_id()}}" class="btn btn-warning">Buy</a></td>
        {% else %}
          <td><a href="/shoppingCart" class="btn btn-warning">{{ item.get_item_want() }} Added to Cart</a></td>
        {% endif %}
        <td>
          <form action="{{url_for('delete_item', id=item.get_item_id())}}" method="POST">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{item.get_item_id()}}">
      Delete
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal_{{item.get_item_id()}}">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Are you sure you want to delete {{item.get_item_name()}}?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <input type="submit" value="Delete" class="btn btn-danger">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>

        </div>
      </div>
    </div>


          </form>
        </td>
      </tr>
    {% endfor %}
{% endblock %}
